.outer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0px 40px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: +10;
    background: linear-gradient(to bottom, #000000 0%, #ffffff00 100%);
}

.outer1 {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0px 40px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: +10;

}

.left {
    display: flex;
    align-items: center;
}


.left .s1 {
    width: 110px;
}

.left .s2 {
    display: flex;
}


.left .s2 p {
    font-size: 15px;
    margin: 0px 10px;
    cursor: pointer;
}

.left .s2 .active {
    font-weight: 600;

}

.right {
    display: flex;
    align-items: center;
}

.right .searchbar {
    display: flex;
    align-items: center;

    border: 2px solid white;
    padding: 0px 10px;

}

.right .searchbar svg {
    width: 25px;
    margin: 0px;
    cursor: pointer;
}

.right .searchbar input {
    background-color: black;
    border: none;
    outline: none;
    margin: 0px 10px;
    padding: 8px;
    color: gainsboro;
}


.searchbar_emptydiv {
    width: 20px;
    height: 10px;
    cursor: pointer;
}

.searchbar1 {
    border: none;
}

.searchbar1 svg {
    width: 25px;
    margin: 0px;
    cursor: pointer;
}

.data_type {
    width: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.right button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E50914;
    font-size: 15px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.bottomeight {
    position: fixed;
    bottom: 30px;
    right: 50px;
    font-size: 40px;
    font-weight: 700;
    /* color: rgb(255, 230, 0); */
    background: -webkit-linear-gradient(rgb(254, 255, 228), rgb(255, 230, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}