.outer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    padding: 0px 50px;
}

.left {
    width: 200px;
    height: 100px;
    cursor: pointer;
    /* background-color: aquamarine; */
}

.right {
    display: flex;
    align-items: center;
}

.lang {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: inherit;
    border: none;
    border: 1px solid white;
    padding: 5px;
}

.lang select {
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;

}

.lang select option {
    background-color: black;
    cursor: pointer;

}

.lang svg {
    width: 20px;
    color: white;
}

.signin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E50914;
    font-size: 15px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}