.outermost {
    display: flex;
    justify-content: center;
}


.err {
    color: rgb(255, 30, 30);
}


.inner {
    display: flex;
    /* background-color: aqua; */
    /* width: fit-content; */
    justify-content: center;
    margin: 20px 0px 5px 0px;
}

.inner input {
    font-size: 15px;
    width: 600px;
    background-color: white;
    padding: 25px;
    border: none;
    color: black;

}


.inner button {
    background-color: #E50914;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}